<h2 class="m-5 text-success text-center">Author Created successfully</h2>
<div class="card text-center" style="width: 25rem; margin-left:35%">
  <div class="card-body">
<h2 class="card-title "><%= @author.name %></h2>
<p  class="card-subtitle mb-2 text-muted">Email: <%= @author.email %></p>
<p  class="card-subtitle mb-2 text-muted">Date Of Birth: <%= @author.DOB %></p>
<p  class="card-subtitle mb-2 text-muted">Phone Number: <%= @author.phone_number %></p>
<%= link_to "Back to Authors", authors_path, class: 'card-link' %>
</div>
</div>